.wrapper {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 15px;
}

.today-forecast {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 70px;
  margin: 0 auto;
  margin-top: 50px;
  width: 500px;
  height: 500px;
  background-color: var(--main-color);
}

.today-forecast * {
  font-size: 1.6rem;
  text-align: center;
  color: var(--white-text);
}

.main-condition-icon {
  width: 80px;
  height: 80px;
}

.main-temperature {
  font-size: 3.4rem;
  font-weight: bold;
}

.current-weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.current-weather-city {
  font-weight: bold;
  font-size: 1.8rem;
}

.current-weather-details {
  display: flex;
  margin-top: auto;
  justify-content: space-between;
}

.current-weather-details img {
  width: 25px;
  height: 25px;
}

.container > p {
  font-size: 1rem;
}
