:root {
  --main-color: #82b7df;
  --text-color: #1e1f1d;
  --white-text: white;
  --accent-color: #ea2b1f;
}

*,
::after,
::before {
  box-sizing: border-box;
  border-collapse: collapse;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  list-style: none;
  font-family: "Noto Sans";
}

/* Navbar */

nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--main-color);
}

nav * {
  color: var(--white-text);
  font-size: 1.2rem;
}

nav > div {
  width: 250px;
  max-width: 250px;
  max-height: 75px;
  padding: 5px 20px;
}

a {
  text-decoration: none;
}

.logo {
  display: flex;
}

.logo-img {
  width: 50px;
  height: 50px;
}

.logo-text {
  font-weight: bold;

  text-transform: uppercase;
  font-size: 1.8rem;
}

.location {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.location-city,
.location-descr {
  text-align: center;
}

.location-city {
  font-size: 1.8rem;
  font-weight: bold;
}

.measurment > *.active {
  font-size: 1.8rem;
}

.divider {
  display: inline;
}

/* Todays forecast */

.wrapper {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 15px;
}

.today-forecast {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 70px;
  margin: 0 auto;
  margin-top: 50px;
  width: 500px;
  height: 500px;
  background-color: var(--main-color);
}

.today-forecast * {
  font-size: 1.6rem;
  text-align: center;
  color: var(--white-text);
}

.condition-icon {
  width: 80px;
  height: 80px;
}

.temperature {
  font-size: 3.4rem;
  font-weight: bold;
}

.current-weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.current-weather-city {
  font-weight: bold;
  font-size: 1.8rem;
}

.current-weather-details {
  display: flex;
  margin-top: auto;
  justify-content: space-between;
}

.current-weather-details img {
  width: 25px;
  height: 25px;
}

.container > p {
  font-size: 1rem;
}
