:root {
  --background-color: linear-gradient(
    38deg,
    rgba(242, 247, 247, 1) 0%,
    rgb(41, 234, 238) 63%,
    #0ef7d4 100%
  );
  --main-color: #a6cff0;
  --text-color: #1e1f1d;
  --white-text: white;
  --accent-color: #124c7c;
}

*,
::after,
::before {
  box-sizing: border-box;
  border-collapse: collapse;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  list-style: none;
  font-family: "Noto Sans";
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(62, 204, 233, 0.3);
  border: solid 13px transparent;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border: solid 13px transparent;
  border-radius: 4px;
}

h2 {
  text-align: center;
  color: var(--white-text);
}

/* body {
  background: var(--background-color);
} */

/* Navbar */

nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--main-color);
}

nav * {
  color: var(--white-text);
  font-size: 1.2rem;
}

nav > div {
  width: 250px;
  max-width: 250px;
  max-height: 75px;
  padding: 5px 40px;
}

a {
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 50px;
  height: 50px;
}

.logo-text {
  font-weight: bold;

  text-transform: uppercase;
  font-size: 1.8rem;
}

.location {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.location-city,
.location-descr {
  text-align: center;
}

.location-city {
  font-size: 1.8rem;
  font-weight: bold;
}

.measurment {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.measurment > .container > *.active {
  font-size: 1.8rem;
}

.measurment.icon {
  width: 50px;
  height: 50px;
}

.divider {
  display: inline;
}

/* Todays forecast */

.wrapper {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 15px;
}

.today-forecast {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 70px;
  margin: 0 auto;
  margin-top: 50px;
  width: 500px;
  height: 500px;
  background-color: var(--main-color);
}

.today-forecast * {
  font-size: 1.6rem;
  text-align: center;
  color: var(--white-text);
}

.condition-icon {
  width: 80px;
  height: 80px;
}

.temperature {
  font-size: 3.4rem;
  font-weight: bold;
}

.current-weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.current-weather-city {
  font-weight: bold;
  font-size: 1.8rem;
}

.current-weather-details {
  display: flex;
  margin-top: auto;
  justify-content: space-between;
}

.current-weather-details img {
  width: 25px;
  height: 25px;
}

.container > p {
  font-size: 1rem;
}

/*Hourly Forecast*/

.hourly-forecast {
  width: 500px;
  height: 300px;
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--main-color);
  margin: 0 auto;
  margin-top: 20px;
}

.hourly-forecast > .main {
  display: flex;
  overflow-x: scroll;
  scrollbar-color: red orange;
  scrollbar-width: thin;
  gap: 50px;
  height: 125px;
}

.main > .container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 60px;
}

.condition-icon {
  width: 40px;
  height: 40px;
}
